<!DOCTYPE html>
<html ng-app>
	<head>
		<link rel="stylesheet" href="content/style/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" href="content/style/bootstrap/css/bootstrap-responsive.css"/>
        <script src="content/style/bootstrap/style/js/bootstrap.min.js"></script>
		<!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>-->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>-->
        <script src="lib/angular.min.js"></script>
        <script src="articly_app.js"></script>

	</head>
	<body>
		<div class="container well">
            <p class="lead">Paste in some articles! :)</p>
            <!-- <input type="text" ng-model="name" placeholder="Write somethin'" class="input-large"/>
			<h1>Hello {{name}}</h1>
            -->
        	<div ng-controller="articleCtrl">
        		<span>{{remaining()}} of {{articles.length}} remaining</span>

        		[ <a href="" ng-click="archive()">archive</a>]	

        		<ul class="unstyled">
        			<li ng-repeat="article in articles">
        			<input type="checkbox" ng-model="article.done">
        			<span class="done-{{article.done}}">{{article.text}}</span>
        			</li>
        		</ul>
        		<form ng-submit="addArticle()">
        			<input type="text" ng-model="articleText" size="30" placeholder="add new article here">
        			<input type="submit" class="btn-primary" value="add">
        	</div>


        </div>
		
		
		
	</body>
</html>